    * {
        margin: 0;
        padding: 0;
    }
    
    body {
        background-color: tan;
    }
    
    .container-one {
        padding-top: 3%;
        display: inline-block;
        background-color: darkslategray;
        width: 100%;
        height: 45px;
        word-spacing: 50px;
        float: left;
    }
    
    .container-one>a {
        text-decoration: none;
        color: black;
        background-color: darkgrey;
        padding: 15px;
        margin-left: 20px;
    }
    
    .pic-one {
        padding: 10px;
        margin: 15px;
        float: left;
        border: 1px solid black;
        width: 300px;
    }
    
    .pic-one description {
        padding: 5px;
        text-align: center;
    }